@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.template-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.template-bgimg {
    width: 100%;
    box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.11);
    margin-bottom: 3%;
}

.template-grid-imgs {
    width: 15%;
}

.template-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 5%;
}

.template-grid-1 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 3%;
    border-bottom: 0.1rem solid rgba(91, 91, 91, 0.4);
}

.template-content {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.template-content-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 0.1rem solid rgba(91, 91, 91, 0.4);


}

.template-content-left-option-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.template-content-left-option-content-left {
    width: 100%;
}

.option-outer {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid rgba(91, 91, 91, 0.4);
    padding-bottom: 10%;
    width: 100%;
}

.option-title {
    font-size: 1.5rem;
    width: 80%;
}

.option-rating {
    font-size: 1rem;
    color: rgb(117, 115, 115);
}

.option-price {
    font-size: 1.25rem;
}

.option-li {
    margin-left: 5%;
    font-size: 1rem;
    color: rgb(56, 55, 55);
    width: 80%;
}

.template-content-left-option-title {
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 2rem;
}

.template-content-left-option {
    margin-bottom: 10%;
    width: 100%;
}

.template-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    width: 30%;
}

.option-outer-left {
    display: flex;
    justify-content: left;
    width: 80%;
}

.option-outer-right {
    display: flex;
    justify-content: left;
    width: 20%;
    margin-right: 5%;
}

.template-viewclass {
    width: 100%;
    display: flex;
    justify-content: left;
    font-size: 1.25rem;
    color: #2A7FFF;
    text-decoration: underline solid #2A7FFF;
    margin-top: 10%;
    height: 100%;
}

.option-btn-text {
    font-size: 1.5rem;
}
@media only screen and (max-width: 1500px) {
    .template-content-left-option-title {
        font-size: 1.75rem;
    }

    .option-title {
        font-size: 1.25rem;
    }

    .option-rating {
        font-size: 0.75rem;
    }

    .option-price {
        font-size: 1rem;
    }

    .option-li {
        font-size: 0.75rem;
        ;
    }
}

@media only screen and (max-width: 1000px) {
    .template-content-left-option-title {
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .option-btn-text {
        font-size: 0.75rem;
    }

    .option-title {
        font-size: 1rem;
    }
    
    .option-rating {
        font-size: 0.75rem;
    }
    
    .option-price {
        font-size: 1rem;
    }
    
    .option-li {
        font-size: 0.75rem;;
    }
    .option-outer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .template-content-left-option-title {
        font-size: 0.75rem;
    }

    .option-title {
        font-size: 0.75rem;
    }

    .option-rating {
        font-size: 0.45rem;
    }

    .option-price {
        font-size: 0.5rem;
    }

    .option-li {
        font-size: 0.45rem;
        ;
    }
    .option-btn-text {
        font-size: 0.75rem;
    }
}