@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.careeradvice-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;

    font-weight: 400;
}

.careeradvice-inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
}

.careeradvice-title {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 2.5rem;
    font-weight: 600;
}

.careeradvice-subtitle {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 2.25rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: left;
}

.careeradvice-content {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
}

@media only screen and (max-width: 1600px) {
    .careeradvice-title {
        font-size: 2rem;

    }
    
    .careeradvice-subtitle {
        font-size: 1.5rem;
    }
    
    .careeradvice-content {

        font-size: 1rem;

    }

}

@media only screen and (max-width: 1000px) {
    .careeradvice-title {
        font-size: 1.5rem;

    }
    
    .careeradvice-subtitle {
        font-size: 1rem;
    }
    
    .careeradvice-content {

        font-size: 0.75rem;

    }

}

@media only screen and (max-width: 600px) {
    .careeradvice-title {
        font-size: 1.25rem;

    }
    
    .careeradvice-subtitle {
        font-size: 0.8rem;
    }
    
    .careeradvice-content {

        font-size: 0.5rem;

    }

}

@media only screen and (max-width: 400px) {
    .careeradvice-title {
        font-size: 1rem;

    }
    
    .careeradvice-subtitle {
        font-size: 0.8rem;
    }
    
    .careeradvice-content {

        font-size: 0.5rem;

    }

}