@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.sustainability-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.45rem;
    color: black;
    font-weight: 400;
    font-family: 'Poppins';
}

.sustainability-bgimg {
    width: 100%;
}

.sustainability-inner {
    width: 85%;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
    flex-direction: column;
}

.sustainability-title {
    margin-top: 4%;
    font-size: 2.5rem;
    font-weight: 600;
}

.sustainability-content {
    margin-top: 4%;
    width: 100%;
    font-size: 1.45rem;
}

.sustainability-content-img {
    /* display: grid; */
    width: 100%;
    /* grid-template-columns: 40% 60%; */
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 3000px) {


    .sustainability-content-img {
        display: grid;
        width: 100%;
        grid-template-columns: 40% 55%;
    }
}

@media only screen and (max-width: 1500px) {
    .sustainability-title {
        font-size: 2rem;
    }

    .sustainability-content {
        font-size: 1rem;
    }

    /* .sustainability-content-img {
        display: grid;
        width: 100%;
        grid-template-columns: 40% 50%;
    } */
}

@media only screen and (max-width: 1000px) {
    .sustainability-title {
        font-size: 1.5rem;
    }

    .sustainability-content {
        font-size: 1rem;
    }
    @media only screen and (max-width: 1500px) {
        .sustainability-title {
            font-size: 2rem;
        }
    
        .sustainability-content {
            font-size: 1rem;
        }
    
        .sustainability-content-img {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sustainability-grid-text {
            margin-top: 5%;
        }
    }
}

@media only screen and (max-width: 750px) {
    .sustainability-title {
        font-size: 1.25rem;
    }

    .sustainability-content {
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 500px) {
    .sustainability-title {
        font-size: 1rem;
    }
}