@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.address-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    margin-bottom: 5%;
}

.address-inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 3%;
}

.address-inner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.address-inner-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}


@media only screen and (max-width: 1200px) {

    .address-inner {
        display: flex;
        /* justify-content: space-between; */
        flex-direction:column;
        align-items:center;
        width: 80%;
        margin-top: 3%;
    }
    
    .address-inner-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }
    
    .address-inner-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

}