@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.x-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 400;
}

.x-inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.x-inner-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(14, 13, 13, 0.79);
    color: rgba(255, 255, 255, 1);
}


.x-inner-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 5rem;
    font-weight: 400;
}

.x-language {
    font-size: 5rem;
    font-weight: 400;
}

.x-inner-bottom {
    background-color: #DDEBFF;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x-inner-bottom:hover {
    background-color: white;
    transition: 2ms;
}

.x-inner-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.x-inner-bottom-content-left {
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x-inner-bottom-content-title {
    font-size: 6rem;
    font-weight: 600;
    color: #E7A90C;
    cursor: pointer;
}

.x-inner-bottom-content-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.x-inner-bottom-content-right-text {
    font-size: 5rem;
    font-weight: 500;
    cursor: pointer;
    width: fit-content;
}





.x-drawer-title {
    font-size: 2rem;
    font-weight: 600;
    color: #E7A90C;
    cursor: pointer;
}

.x-drawer-items {
    display: flex;
    justify-content: left;
    /* align-items: center; */
    padding-left: 1%;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
}

.x-drawer-items:hover {
    color: red;
}

.x-inner-bottom-menu-text {
    font-size: 5rem;
    font-weight: 400;
    cursor: pointer;
}


@media only screen and (max-width: 4000px) {
    .x-inner-top-content {
        font-size: 3rem;
    }

    .x-language {
        font-size: 3rem;
    }


    .x-inner-bottom-content-title {
        font-size: 5rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 3rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 2.5rem;
    }

    .x-drawer-title {}
}

@media only screen and (max-width: 3550px) {
    .x-inner-top-content {
        font-size: 2.75rem;
    }

    .x-language {
        font-size: 2.75rem;
    }


    .x-inner-bottom-content-title {
        font-size: 4rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 2.75rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 2.25rem;
    }
}


@media only screen and (max-width: 3000px) {
    .x-inner-top-content {
        font-size: 2.5rem;
    }

    .x-language {
        font-size: 2.5rem;
    }


    .x-inner-bottom-content-title {
        font-size: 3.5rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 2.5rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 2500px) {
    .x-inner-top-content {
        font-size: 2.2rem;
    }

    .x-language {
        font-size: 2.2rem;
    }

    .x-inner-bottom-content-title {
        font-size: 3rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 2.2rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 1.75rem;
    }

    .x-drawer-title {
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 2100px) {
    .x-inner-top-content {
        font-size: 1.35rem;
    }

    .x-language {
        font-size: 1.35rem;
    }


    .x-inner-bottom-content-title {
        font-size: 2.5rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 1.35rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 1900px) {
    .x-inner-top-content {
        font-size: 1.25rem;
    }

    .x-language {
        font-size: 1.25rem;
    }

    .x-inner-bottom-content-title {
        font-size: 2.25rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 1.25rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 1600px) {
    .x-inner-top-content {
        font-size: 1.1rem;
    }

    .x-language {
        font-size: 1.1rem;
    }

    .x-inner-bottom-content-title {
        font-size: 1.8rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 1.1rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 1300px) {
    .x-inner-top-content {
        font-size: 1rem;
    }

    .x-language {
        font-size: 1rem;
    }

    .x-inner-bottom-content-title {
        font-size: 1.5rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 1rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 0.75rem;
    }

    .x-drawer-title {
        font-size: 1.55rem;
    }

}


@media only screen and (max-width: 1000px) {
    .x-inner-top-content {
        font-size: 0.75rem;
    }

    .x-language {
        font-size: 0.75rem;
    }

    .x-inner-bottom-content-title {
        font-size: 1.25rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 0.75rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 850px) {
    .x-inner-top-content {
        font-size: 0.60rem;
    }

    .x-language {
        font-size: 0.6rem;
    }


    .x-inner-bottom-content-title {
        font-size: 1rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 0.60rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 0.25rem;
    }
}


@media only screen and (max-width: 730px) {
    .x-inner-top {
        /* width: 0%; */
        display: none;
    }

    .x-inner-bottom {
        width: 100%;
    }

    .x-inner-bottom-content-right {
        display: none;
    }

    .x-inner-bottom-content-title {
        display: none;
    }

    /* .x-inner-top-content {
        font-size: 0.60rem;
    }

    .x-language {
        font-size: 0.6rem;
    }


    .x-inner-bottom-content-title {
        font-size: 1rem;
    }

    .x-inner-bottom-content-right-text {
        font-size: 0.60rem;
    }

    .x-inner-bottom-menu-text {
        font-size: 0.25rem;
    } */
}

/* @media screen and (max-width:420px) {
    html {
        font-size: 0.1rem;
    }
} */