@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.navlang-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding: 5%;
}

.navlang-title {
    font-size: 5rem;
    font-weight: 600;
}

.navlang-inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5%;
}

.navlang-inner-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.navlang-language:hover {
    color: red;
}

.lang-item-stack :hover {
    color: red;
}

.navlang-inner-title {
    font-size: 5rem;
    font-weight: 500;
}

.navlang-language {
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
}


@media only screen and (max-width: 4000px) {
    .navlang-title {
        font-size: 3.5rem;
    }


    .navlang-inner-title {
        font-size: 2.5rem;
    }

    .navlang-language {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 3600px) {
    .navlang-title {
        font-size: 3.2rem;
    }


    .navlang-inner-title {
        font-size: 2.2rem;
    }

    .navlang-language {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 3200px) {
    .navlang-title {
        font-size: 2.75rem;
    }


    .navlang-inner-title {
        font-size: 2rem;
    }

    .navlang-language {
        font-size: 1.25rem;
    }
}


@media only screen and (max-width: 2700px) {
    .navlang-title {
        font-size: 2.25rem;
    }


    .navlang-inner-title {
        font-size: 1.5rem;
    }

    .navlang-language {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 2200px) {
    .navlang-title {
        font-size: 1.75rem;
    }


    .navlang-inner-title {
        font-size: 1rem;
    }

    .navlang-language {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1800px) {
    .navlang-title {
        font-size: 1.55rem;
    }


    .navlang-inner-title {
        font-size: 1rem;
    }

    .navlang-language {
        font-size: 0.65rem;
    }
}


@media only screen and (max-width: 1300px) {
    .navlang-title {
        font-size: 1.25rem;
    }


    .navlang-inner-title {
        font-size: 0.95rem;
    }

    .navlang-language {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 1000px) {
    .navlang-title {
        font-size: 0.9rem;
    }


    .navlang-inner-title {
        font-size: 0.8rem;
    }

    .navlang-language {
        font-size: 0.55rem;
    }
}

@media only screen and (max-width: 850px) {
    .navlang-title {
        font-size: 0.8rem;
    }


    .navlang-inner-title {
        font-size: 0.6rem;
    }

    .navlang-language {
        font-size: 0.35rem;
    }
}


@media only screen and (max-width: 700px) {
    .navlang-title {
        font-size: 0.6rem;
    }


    .navlang-inner-title {
        font-size: 0.4rem;
    }

    .navlang-language {
        font-size: 0.25rem;
    }
}