@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.y-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.y-bgimg {
    width: 100%;
    height: 80%;
    position: relative;
    margin-top: -15%;
    z-index: 0;
}

.y-inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-top: 5%;
}

.y-inner-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.y-inner-left-text {
    width: 70%;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(174, 174, 174);
    text-align: center;
}

.y-inner-right {
    width: 60%;
    display: flex;
    justify-content: center;
}

.y-inner-right-content {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 35px rgba(0, 0, 0, 0.31);
    padding: 3%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.y-inner-right-content-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.y-inner-right-content-text {
    font-size: 1.25rem;
    font-weight: 400;
}

/* .y-btn-text {
    font-size: 1rem;
} */

.reach-checkbox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.y-title {
    display: flex;
    justify-content: center;
    width: 100%;
}

.y-title-img {
    width: 30%;
}

.reach-checkbox-title {
font-size: 1rem;
}

@media only screen and (max-width: 1500px) {
    .y-inner-right-content-title {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .y-inner-right-content-text {
        font-size: 1rem;
        font-weight: 400;
    }

    .y-inner-left-text {
        width: 70%;
        font-size: 1.25rem;
        font-weight: 500;
        color: rgb(174, 174, 174);
    }
}

@media only screen and (max-width: 1000px) {
    .y-inner-right-content-title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .y-inner-right-content-text {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .y-inner-left-text {
        width: 70%;
        font-size: 1rem;
        font-weight: 500;
        color: rgb(174, 174, 174);
    }

    .y-inner-right-content {
        width: 60%;
    }

    .y-inner {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        width: 100%;
    }

    .y-inner-right {
        width: 100%;
        margin-top: 5%;
    }

    .y-inner-left {
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .reach-checkbox-title {
        font-size: 0.75rem;
        }
}


@media only screen and (max-width: 700px) {
    .y-inner-right-content-title {
        font-size: 1rem;
        font-weight: 500;
    }

    .y-inner-right-content-text {
        font-size: 0.65rem;
        font-weight: 400;
    }

    .y-inner-left-text {
        width: 70%;
        font-size: 0.8rem;
        font-weight: 500;
        color: rgb(174, 174, 174);
    }
    .y-inner-right-content {
        width: 40%;
    }

    .reach-checkbox-title {
        font-size: 0.5rem;
        }
    
}