@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.trust-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 40vh; */
    /* background-image: url("./TrustImages/Trust_img1.png");
    background-repeat: no-repeat;
    background-size: contain; */
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 5%;
}

/* .trust-top-outer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.trust-x {
    width: 100%;
    position: relative;
    margin-top: -15%;
    display: flex;
    flex-direction: column;
}

.trust-bgimg {
    width: 100%;
    position: relative;
    z-index: 0;
}

/* .trust-top-content {
    color: rgba(43, 127, 255, 1);
}

.trust-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
} */

.trust-top-outer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trust-top-content {
    color: rgba(43, 127, 255, 1);
    font-size: 10rem;
    font-weight: 500;
}

.trust-img-arrow {
    width: 10%;
}

.trust-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10rem;
    font-weight: 500;
}

.trust-bottom-outer {
    margin-top: 3%;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.trust-bottom-content {
    font-weight: 400;
    font-size: 1.5rem;
}

.trust-bottom {
    height: 100%;
    width: 100%;
    margin-top: 1%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.trust-imgs {
    /* width: 20%; */
}


@media only screen and (max-width: 4000px) {
    .trust-top {
        font-size: 6rem;
    }

    .trust-top-content {
        font-size: 6rem;

    }

    
}

@media only screen and (max-width: 3500px) {

    .trust-top {
        font-size: 5rem;
    }

    .trust-top-content {
        font-size: 5rem;

    }
    .trust-img-arrow {
        width: 6%;
    }
}

@media only screen and (max-width: 3200px) {

    .trust-top {
        font-size: 4.75rem;
    }

    .trust-top-content {
        font-size: 4.75rem;

    }
}

@media only screen and (max-width: 3000px) {
    .trust-top {
        font-size: 4.5rem;
    }

    .trust-top-content {
        font-size: 4.5rem;

    }
}

@media only screen and (max-width: 2700px) {
    .trust-top {
        font-size: 4rem;
    }

    .trust-top-content {
        font-size: 4rem;

    }
}

/* @media only screen and (max-width: 2400px) {
    .trust-top {
        font-size: 8rem;
    }

    .trust-top-content {
        font-size: 8rem;

    }
} */


@media only screen and (max-width: 2200px) {

    .trust-top {
        font-size: 3rem;
    }

    .trust-top-content {
        font-size: 3rem;

    }
}

@media only screen and (max-width: 2000px) {
    .trust-top {
        font-size: 3rem;
    }

    .trust-top-content {
        font-size: 3rem;

    }
}

@media only screen and (max-width: 1800px) {
    .trust-top {
        font-size: 3rem;
    }

    .trust-top-content {
        font-size: 3rem;

    }
}

@media only screen and (max-width: 1601px) {
    .trust-top {
        font-size: 3rem;
    }

    .trust-top-content {
        font-size: 3rem;

    }
}

@media only screen and (max-width: 1400px) {
    .trust-top {
        font-size: 2rem;
    }

    .trust-top-content {
        font-size: 2rem;

    }
}

@media only screen and (max-width: 1200px) {
    .trust-top {
        font-size: 1.75rem;
    }

    .trust-top-content {
        font-size: 1.75rem;

    }
}

@media only screen and (max-width: 1000px) {
    .trust-top {
        font-size: 1.5rem;
    }

    .trust-top-content {
        font-size: 1.5rem;

    }
}

@media only screen and (max-width: 1100px) {
    .trust-top {
        font-size: 1.25rem;
    }

    .trust-top-content {
        font-size: 1.25rem;

    }
}

@media only screen and (max-width: 850px) {
    .trust-top {
        font-size: 1rem;
    }

    .trust-top-content {
        font-size: 1rem;

    }
}

@media only screen and (max-width: 600px) {}