.thank-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thank-bgimg {
    width: 100%;
    position: relative;
    z-index: 0;
}

.thank-content {
    position: relative;
    margin-top: -10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

.thank-content-text {
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thank-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    font-size: 1.25rem;
    font-weight: 500;

}

@media only screen and (max-width: 1000px) {

    .thank-content-text {
        font-size: 1rem;
    }

    .thank-text {
        font-size: 0.75rem;


    }
}

@media only screen and (max-width: 600px) {

    .thank-content-text {
        font-size: 0.75rem;
    }

    .thank-text {
        font-size: 0.5rem;


    }
}